body {
    padding: 1%;
    margin: 0;
    background-color: lightgray;
    align-content: flex;   
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.items {      
    display: flex;
    background-color: grey;
    flex-wrap: wrap;
}

.item {
    background-color: white;
    text-align: center;
    margin: 0.1%;
    padding: 0.5%;   
} 

img {    
    width: 100%;
     }

@media only screen and (min-width : 1300px) and (max-width : 1920px){
    .item {
      width: 19.8%;     
    }
  }
  
  @media only screen and (min-width : 1024px) and (max-width : 1280px){
    .item {
      width: 24.8%;
    }
    #item9, #item10 {
        width: 49.8%;
    }
  } 

